<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="close()">Close</ion-button>
        </ion-buttons>
        <ion-title>
            Add stock
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label position="stacked">Add Stock Symbol</ion-label>
        <ion-label position="stacked">or Company Name</ion-label>
        <ion-input [(ngModel)]="symbol"></ion-input>
    </ion-item>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="add()">Add</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>