<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                Author:
            </ion-col>
            <ion-col>
                Philip Mayer
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                Contact:
            </ion-col>
            <ion-col>
                <a href="mailto:philip.mayer@shadowsith.de">philip.mayer@shadowsith.de</a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                Date:
            </ion-col>
            <ion-col>
                2019-2020
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                License:
            </ion-col>
            <ion-col>
                <a href="https://choosealicense.com/licenses/mit/">MIT</a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                Source Code:
            </ion-col>
            <ion-col>
                <a hre="">GitHub</a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>