<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="close()">Close</ion-button>
        </ion-buttons>
        <ion-title>
            {{stock.symbol}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Company
                </ion-col>
                <ion-col>
                    {{stock.name}}
                </ion-col>
            </ion-row>

        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Stock Origin
                </ion-col>
                <ion-col>
                    {{stock.region}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Currency
                </ion-col>
                <ion-col>
                    {{stock.currency}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Type
                </ion-col>
                <ion-col>
                    {{stock.type}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item *ngIf="isDeposit">
        <ion-grid>
            <ion-row>
                <ion-col>
                    Purchase price
                </ion-col>
                <ion-col>
                    {{stock.purchasePrice}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item *ngIf="isDeposit">
        <ion-grid>
            <ion-row>
                <ion-col>
                    Amount
                </ion-col>
                <ion-col>
                    {{stock.amount}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Current price
                </ion-col>
                <ion-col [ngClass]="stock.change > 0 ? 'positive' : 'negative'">
                    {{stock.currentPrice}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Price change
                </ion-col>
                <ion-col [ngClass]="stock.change > 0 ? 'positive' : 'negative'">
                    {{stock.change}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Percentage change
                </ion-col>
                <ion-col [ngClass]="stock.change > 0 ? 'positive' : 'negative'">
                    {{stock.change_percent}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Status
                </ion-col>
                <ion-col>
                    {{stock.purchaseDate}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Last update
                </ion-col>
                <ion-col>
                    {{stock.timestamp}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="update()">Update</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="delete()">Delete</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>