<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Overview
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title>Welcome to your Hardware Inventory Manager</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                In this App you can add new hardware devices (PC, Notebooks, Server etc...) to your personal inventory
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>