<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="add()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="sort()">
                <ion-icon name="funnel-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Deposit
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title>Add stocks to your deposit</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-item>
        Budget: {{budget}} USD
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <strong>Sym.</strong>
                    </ion-col>
                    <ion-col>
                        <strong>pcs.</strong>
                    </ion-col>
                    <ion-col>
                        <strong>Buy</strong>
                    </ion-col>
                    <ion-col>
                        <strong>Marked</strong>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <hr>
        <ion-item *ngFor="let stock of stocks" (click)="show(stock)">
            <ion-grid [ngClass]="stock.change > 0 ? 'positive' : 'negative'">
                <ion-row>
                    <ion-col class="left">
                        {{stock.symbol}}
                    </ion-col>
                    <ion-col>
                        {{stock.amount}}
                    </ion-col>
                    <ion-col>
                        {{calcSum(stock.purchasePrice, stock.amount)}} <br>{{stock.purchasePrice}} {{stock.currency}}
                    </ion-col>
                    <ion-col>
                        {{calcSum(stock.currentPrice, stock.amount)}} /<br>{{stock.currentPrice}} {{stock.currency}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>